
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Angular JS Test</title>
    <script src="angular.js"></script>
    <script>
        var module = angular.module("app", []);
        var controllerData = function ($scope) {

            $scope.data =   [{id:73, product:"Coke", quantity:56, price:1.70},
                             {id:66, product:"Fanta", quantity:42, price:1.92},
                             {id:98, product:"Pepsi", quantity:99,price:1.53},
                             {id:3, product:"Kitkat", quantity:7,price:15.30}]

            $scope.field = "product";
            $scope.order = true;
            $scope.click = function(heading) {
            console.log(heading);
                if(heading == this.field) {
                    this.order = !this.order;
                } else {
                    this.field = heading;
                    this.order = true;
                }
            }
        };
        module.filter("quantityFilter", function() {
            var quantityCheck = function(quantity) {
                var status;
                if(quantity < 50) {
                    status = "Quatity low"
                } else if(quantity => 50) {
                    status = "We good homie"
                }
                return status;
            }
            return quantityCheck;
        });
        module.controller("controller", controllerData);
    </script>
</head>
<body ng-controller="controller">
    <label>Search all: <input ng-model="search.$"></label> <br>
    <label>Exact string? <input type="checkbox" ng-model="exact"></label><br>
    <label>Currently sorting by: <b>{{field}}</b> in the <img src="imgUp.png" width="10px" height="10px" ng-show="order"><img src="imgDown.png" width="10px" height="10px" ng-hide="order"> direction</label>
    <table>
        <tr>
            <td> </td>
            <td> <input ng-model="search.id"></label></td>
            <td> <input ng-model="search.product"></label></td>
            <td> <input ng-model="search.quantity"></label></td>
            <td> </td>
            <td> <input ng-model="search.price"></label></td>

        </tr>
        <tr>
            <td style="text-align: center"> S.No </td>
            <td style="text-align: center" ng-click="click('id')"> ID </td>
            <td style="text-align: center" ng-click="click('product')"> Product  </td>
            <td style="text-align: center" ng-click="click('quantity')"> Quantity </td>
            <td style="text-align: center"> Status </td>
            <td style="text-align: center" ng-click="click('price')"> Price </td>
        </tr>
        <tr ng-repeat="d in data | filter:search:exact | orderBy:field:order">
            <td style="text-align: center"> {{$index}}</td>
            <td style="text-align: center"> {{d.id}}</td>
            <td style="text-align: center"> {{d.product}}</td>
            <td style="text-align: center"> {{d.quantity}}</td>
            <td style="text-align: center"> {{d.quantity | quantityFilter}}</td>
            <td style="text-align: center"> {{d.price}}</td>
        </tr>
    </table>
</body>
</html>